.window-big-list {
	background: linear-gradient(180.11deg, rgba(32, 35, 45, 0.5) 0.09%, rgba(32, 35, 45, 0) 99.91%), #0A0C10;
	box-shadow: inset 2px 3px 12px rgba(255, 255, 255, 0.11);
	border-radius: 25px;
	color: #BCC0CF;
	padding: 28px;
	display: none;
	flex-direction: column;
	width: 1440px;
	position: absolute;

	left: 20vh;
	z-index: 3;

}

.window-big-list__title {
	display: flex;
	align-items: center;
	padding-bottom: 40px;

	border-bottom: 1px solid #20232D;


}

.window-big-list__title img {
	margin-right: 30px;

}

.block-add {
	display: flex;
	align-items: center;
	justify-content: space-between;


	border-bottom: 1px solid #20232D;
	padding: 40px 0px;

}

.block-add input {
	width: 70%;
	margin-left: 30px;
	background: #20232D;
	border: 1px solid #4B4D55;
	border-radius: 32px;
	color: #BCC0CF;
	padding: 10px 30px;
}

.button-add-big-window {
	margin-top: 10px;
	background: #B6FFAA;
	border-radius: 32px;
	padding: 10px;
	cursor: pointer;
}

.buttonclose-window {
	color: #BCC0CF;
	border: 0;
	margin-top: 10px;
	cursor: pointer;
}